<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestAttempt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F265F9A1DF86013000B6745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F265FAE1DF86013000B6745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F265FB91DF86013000B6745</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
